{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jatin Sharma</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/profile.jpg' %}" >
                    <hr>
                    <h4>Hi I'm Jatin</h4>
                    <p>I love Machine learning and Artificial Intelligence</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My First time with a Programming language.</h4>
                    <hr>
                    <p>I was so excited to learn Python, that I completed my first
                        6 month course in about a month. Technology has always been
                        fascinating to me, specially Artificial Intelligence.</p>

                    <p>Before I knew it I was learning to create Machine learning models
                        on Kaggle. Getting familiar with Deep Learning, Natural Language 
                        Processsing and other Python modules.</p>
                    
                    <p>From this you'll see that I'm someone who can be 
                        trusted to complete a task, weather it involves learning 
                        new things, or researching stuff.
                    </p>

                    <ul class="social-links">
                        <a href="http://www.linkedin.com/in/jatsharma"><li><img class="social" src="{% static 'images/linkedin.png' %}"></li></a>
                        <a href="http://www.github.com/jatsharma"><li><img class="social" src="{% static 'images/github.png' %}"></li></a>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100"></div>
                <h5>What I know</h5>
                <hr>
                <p>Python, Django, HTLM/CSS, Pandas, Matplotlib, Seaborn, Scikit-learn,
                    Machine learning and a whole bunch more! ;)</p>
                <p>PS: Working on Deep learning, Natural language processsing, 
                    Artificial neural networks.
                </p>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100"></div>
                <h5>How I learn</h5>
                <hr>
                <p>Reverse Engineer & Build Ugly Prototypes First.</p>

                <p>I can learn almost anything by having a final product to 
                    tear apart piece by piece. I break the code where I need 
                    to figure out why things work the way they do. Ofcource with 
                    documentation as a reference.
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100"></div>
                <h5>My Other Interests</h5>
                <hr>
                <p>I'm also very much interested in Financial Markets.
                </p>

                <p>I have been trading equity, commodity, and currency markets 
                    for more than 2 years now. I have gained knowledge of 
                    Technical analysis and understaing how Market dynamics.
                </p>
            </div>

            <div class="col-md-6">
                <div class="card card-bodyh-100"></div>
                <h5>My Short Term Goals</h5>
                <hr>
                <p>I'm trying to gather as much knowledge as possible about 
                    Machine learning and Artificial intelligence.
                </p>

                <p>I'm also looking for a position and team where I can grow as 
                    a developer and together as a team. I am looking forward to 
                    work as a Machine learnin engineer or Data science role or 
                    something similar.
                </p>
            </div>
        </div>
        <br>
    </div>

    
</body>
</html>